<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Motoo Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered">
            <div class="column">
              <p class="title">
                <a href="/">Motoo bot</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <h1 class="title">単語と応答を登録</h1>
          <div class="content">
            <form action="/post" method="post">
              <div class="field">
                <label class="label" for="keyword">キーワード</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="How are you?" name="keyword" id="keyword" value="<%= post.keyword  %>">
                  </div>
                  <% if (err.keyword) { %>
                  <p class="help is-danger">値が入力されていません</p>
                  <% } %>
              </div>

              <div class="field">
                <label class="label" for="response">レスポンス</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="I'm fine." name="response" id="response" value="<%= post.response %>">
                  </div>
                  <% if (err.response) { %>
                  <p class="help is-danger">値が入力されていません</p>
                  <% } %>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <input class="button is-primary" type="submit" value="登録">
                </div>
                <!--
                <div class="control">
                  <input class="button is-text" type="reset" value="リセット">
                </div>
                -->
              </div>
            </form>
          </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <h1 class="title">登録済みリスト</h1>
          <div class="content">
            <table class="table is-bordered">
              <thead>
                <tr>
                  <th>id</th>
                  <th>keyword</th>
                  <th>response</th>
                  <th>edit</th>
                </tr>
              </thead>
              <!--
              <tfoot>
                <tr>
                  <th>id</th>
                  <th>keyword</th>
                  <th>response</th>
                </tr>
              </tfoot>
              -->
              <tbody>
                <% words.forEach(function(value, key) { %>
                <tr>
                  <th><%= value.id %></th>
                  <td><%= value.keyword %></td>
                  <td><%= value.response %></td>
                  <td>
                    <a class="button is-info" href="/detail?id=<%= value.id %>">更新</a>
                    <input class="button is-danger" type="button" value="削除" onclick="postDelete(<%= value.id %>)">
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
      </div>
    </section>
    <script>
      function postDelete(targetId) {
        if(window.confirm('削除しますか？')) {
          fetch('/delete', {
            method: 'post',
            body: JSON.stringify({
              id: targetId,
            }),
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json',
            },
          })
          .then((res) => {
            if (res.ok) {
              location.href = "/";
            } else {
              window.alert('失敗しました');
            }
          })
          .catch((err) => {
            console.error(err);
            window.alert(err);
          });
        }
      }
    </script>
  </body>
</html>
